<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Connexion</h1>
  <form >
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Se connecter</button>
  </form>


  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async function(event) {
      event.preventDefault();
      const formm = new FormData(form)
      const [username, password] = [
        formm.get("username"),
        formm.get("password")
      ]

      // Add your form submission logic here
      const data = await fetch(`/protected?username=${username}&&password=${password}`, {
        method: 'GET',
      })

      if(data.ok){
        alert("success")
        const dt = await data.json()
        localStorage.setItem("billet", dt.token)
        return
      }
      if(data.status === 400){
        alert("error")
      }
    });
  </script>
</body>
</html>
